# SPDX-FileCopyrightText: 2022 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

include MANIFEST.in

include setup.py
include versioneer.py
include numba_dpcomp/_version.py

recursive-include numba_dpcomp *.ini
recursive-include numba_dpcomp *.pyd
recursive-include numba_dpcomp *.dll
recursive-include numba_dpcomp *.so
recursive-include numba_dpcomp *.dylib
