name: GPU Build

on:
  pull_request:
    branches:
      - main
      - upstream
      - 'dist-ndarray'
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    if: github.repository == 'intel-innersource/frameworks.ai.mlir.mlir-extensions'
    runs-on: [self-hosted, pvc]
    defaults:
      run:
        shell: bash -noprofile --norc -eo pipefail {0}

    steps:
      - uses: actions/checkout@v4

      - name: Collect info
        run: |
          sh scripts/sysinfo.sh

      - name: Checkout MLIR
        run: |
          git clone https://github.com/llvm/llvm-project
          export LLVM_SHA=$(cat build_tools/llvm_version.txt)
          cd llvm-project
          git checkout $LLVM_SHA
          git apply ../build_tools/patches/*.patch

      - name: Setup IMEX and run tests
        run: |
          source /opt/intel/oneapi/setvars.sh
          pip install psutil
          ./scripts/compile.sh -DCMAKE_C_COMPILER=/usr/bin/clang -DCMAKE_CXX_COMPILER=/usr/bin/clang++ -DIMEX_ENABLE_PVC_TARGET=1 -DIMEX_ENABLE_SYCL_RUNTIME=1 -DIMEX_ENABLE_L0_RUNTIME=1 -DLLVM_LIT_ARGS="-a -j 4 --debug --timeout=1800"
          cmake --build build --target check-imex | tee build/tests.txt

      - name: Run SG-level XeTile generated cases
        run: |
          rm -rf scripts/xetile-test-gen/GEMM_reports scripts/xetile-test-gen/Generated_GEMM
          cd scripts/xetile-test-gen
          pip install pandas argparse openpyxl
          ./run_tests.sh --gen_default_cases=1 --validate=1 --verbose=1 --llvm_build_dir=../../build

      - name: Upload tests.txt
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: tests_gpu.txt
          path: build/tests.txt
