name: pre-commit

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: gasp
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: intel-innersource/frameworks.actions.thirdparty.pre-commit-action@v3.0.0