# Sync innersouce repo to upstream mlir-extensions

name: Sync from main to imex-embargo

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  workflow_call:
  push:
    paths:
      - .github/workflows/sync-embargo.yml
  schedule:
    - cron: '30 19 * * *'

jobs:
  sync-embargo:
  ###
  # Syncs main branch of this repo to open source intel/mlir-extensions
  ###
    runs-on: [self-hosted, icx]

    steps:
      - name: Check build root
        run: |
          export HOME_DIR=$(pwd)/sync
          echo HOME_DIR=${HOME_DIR} >>$GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
          ref: imex-embargo
          fetch-depth: 0
          path: ${{env.HOME_DIR}}/frameworks.ai.mlir.mlir-extensions
      - name: Fetch Upstream
        run: |
          cd $HOME_DIR/frameworks.ai.mlir.mlir-extensions
          git fetch
      - name: Merge Upstream to imex-embargo
        run: |
          cd $HOME_DIR/frameworks.ai.mlir.mlir-extensions
          git config --global user.email "igor.zamyatin@intel.com"
          git config --global user.name "Igor Zamyatin"
          git merge origin/main --no-edit
      - name: Push
        run: |
          cd $HOME_DIR/frameworks.ai.mlir.mlir-extensions
          git push -f
 
  invoke-gpu-tests:
    needs: sync-embargo
    name: Invoke test on FS sim
    uses: ./.github/workflows/build_gpu-fs-sim.yml
    secrets: inherit
    with:
      ref: imex-embargo
